@import "partials/normalize";

@font-face {
    font-family: chlorinp;
    src: url('assets/chlorinap/CHLORINP.TTF');
}

body {
    position: relative;
}

header {
    height: 100vh;
    z-index: 10;
    background: url(assets/cloudsmin.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

h1 {
    font-family: chlorinp;
    font-size: 150px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    padding-top: 100px;
}

h2, h3, button, p {
    font-family: 'Coming Soon', cursive;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

header button {
    text-align: center;
    margin: 40px 20px;;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: black;
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    max-width: 250px;
}

header button:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.red {
    color: blue;
}

.blue {
    color: red;
}

section {
    background: url(assets/sunset.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 20px;
    text-align: center;
    top: 0;
}

section h2 {
    margin: 20px auto;
    text-align: center;
}

.board {
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


.square {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    position: relative;
    box-shadow: 5px 10px #000000;
}

span {
    color: red;
}

.x-icon {
    background-color: red;
}

.x-icon::before {
    content: '\f00d';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    font-size: 100px;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 40px;
    justify-content: center;
    align-items: center;
}

.o-icon {
    background-color: blue;
}

.o-icon::before {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    position: absolute;
    font-size: 80px;
    margin: 0 auto;
    top: 30px;
    left: 35px;
    justify-content: center;
    align-items: center;
}

section button {
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

section button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.score {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.score p {
    padding: 5px 10px;
}

.score .p1 {
    background-color: red;
}

.score .p2 {
    background-color: blue;
}

.counter {
    color: black;
}

.reset-pop {
    position: relative;
    display: none;
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3)
}

.reset-question {
    width: 100%;
    padding: 40px 0;
    background-color: blue;
    margin: 0 auto;
    position: absolute;
    top: 0;
    margin: 0 auto;
}

.reset-sentence {
    font-size: 20px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 10px;
    background: 0;
}

.yes, .no {
    margin: 0 10px;
}

@media (max-width: 567px) {
    h1 {
        padding: 20px 0 0 0;
        font-size: 120px;
    }

    header button {
        margin-bottom: 0;
    }

    section {
        padding: 15px;
    }

    .board {
        max-width: 350px;
        margin: 0 auto;
    }
    
    .square {
        height: 100px;
        width: 100px;
    }

    .o-icon::before {
        top: 25px;
        left: 25px;
        font-size: 50px;
    }

    .x-icon::before {
        top: 20px;
        left: 30px;
        font-size: 60px;
    }

    .score {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .score p {
        max-width: 200px;
    }

    .score button {
        order: 5;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

}